.error__page {
  align-content: center;
  width: 100%;
}

.error {
  & h1 {
    font-size: 80px;
  }
}

.cat__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.zoom-area {
  max-width: 490px;
  margin: 0 auto 30px;
  font-size: 25px;
  text-align: center;
}
.link__container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.error__button {
  margin: 10px;
}

