.main__login {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__column--left {
    display: flex;
    flex-direction: column;

  }
  &__column--right {
    display:flex;
    flex-direction: column;
    button{
      width: 100%;
    }
  }
  h3{
    padding-bottom: 1em;
  }
  @include lg {
    flex-wrap: wrap;
  }
  & button {
    max-width: 230px;
  }
}

#link__remind__password {
  font-size: 0.8em;
  color: $yellow;
  margin-bottom: 1em;
  cursor: pointer;
}

.main__login--left {
  width: 45%;
  @include xs {
    width: 100%;
  }
}

.main__login--right {
  width:50%;
  @include xs {
    width: 100%;
    margin-top: 40px;
  }
}

.text_Logged {
  text-align:center;
}

.successLogged {
  div {
    display: flex;
    justify-content: center;
    margin: 1.5em;
  }
}
